a[class*=iPop] {
    border-bottom: 0 !important;
}
[class*=iPop] img {
    border: 1px solid #ddd;
}
.iPop-video {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.iPop-video iframe {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    margin: auto;
}
a.iPop-video:before  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    display: block;
    content: '►';
    font-size: 2rem;
    margin: 0 0 0 2px;
    color: #fff;
    line-height: 0;
}
a.iPop-video:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    background: #00000082;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}
a.iPop-video:hover:after {
    width: 7rem;
    height: 7rem;
    transition: all 0.3s linear 0s;
}
a.iPop-video:not(:hover):after
{
    transition: all 0.3s linear 0s;
}
.iPop-up-data {
    display: none
}
.iPopFrame .iPop-up-data {
    display: block;
    width: 60vw;
    height: 70vh;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}
.iPopOverlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #000000e6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.iPopFrame img {
    max-height: 80vh;
}
.iPopFrame iframe {
    min-height: 80vh;
    width: 90vw;
    margin-bottom: 0;
}
.closeIpop {
    background: #fff !important;
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 15px;
    right: 25px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10002;
}
.closeIpop:hover {
    background: #aaa !important;
}
.closeIpop::before, .closeIpop::after {
    content: '';
    background-color: #616161;
    width: 71%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    transition: all 0.5s ease;
}
.closeIpop::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
.iPopImgTitle {
    color: #fff;
    padding: 1rem .5rem .5rem;
    text-align: center;
}
.iPopFrame .iPopNextImg,
.iPopFrame .iPopPrevImg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5vw;
    height: 30vh;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
}
.iPopFrame .iPopNextImg {
    right: 0;
}
.iPopFrame .iPopPrevImg {
    left: 0;
}
.iPopFrame .iPopNextImg::after,
.iPopFrame .iPopPrevImg::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    border-bottom: 4px solid #ffffffb3;
    border-left: 4px solid #ffffffb3;
}
.iPopImgCounter {
    color: #fff;
    position: absolute;
    left: 1rem;
    top: 1rem;
}
.iPopFrame .iPopPrevImg::after {
    left: 50px;
    transform: translate(0,-50%) rotate(45deg);
}
.iPopFrame .iPopNextImg::after {
    right: 50px;
    transform: translate(0,-50%) rotate(-135deg);
}
.iPopFrame .iPopNextImg:hover::after,
.iPopFrame .iPopPrevImg:hover::after {
    border-bottom-color: #888;
    border-left-color: #888;
}
.iPopLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.iPopLoader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #8e8e8e transparent #8e8e8e transparent;
    animation: loader-circles 1.2s linear infinite;
}
@keyframes loader-circles {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (min-device-width:330px) and (orientation:portrait) {
    .iPopIframe {
        width: 90vw!important;
        height: auto!important;
        position: relative;
    }
    .iPopFrame:before {
        position: absolute;
        left: 0;
        bottom: 80px;
        z-index: 100;
        width: 100%;
        background: #ff000096;
        content: 'Поверните устройство горизонтально';
        color: #fff;
        font-weight: bold;
        padding: 2rem 0;
        text-align: center;
    }
}
@media (max-width:400px) {
    .iPopFrame {
        height: auto!important;
    }
}
